.formStart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
}

.inputElem {
  display: flex;
}

.inputElemText {
  width: 80px;
  text-align: center;
}

.submitButton {
  width: calc(100% - 80px);
  margin-left: 80px;
}
.submitButton input {
  width: 100%;
}
